<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  My bill for 
    <%= f.text_field :note %>
  is 
      $<%= f.number_field :pre_tip_cost %>. 
  </br>
  I'd like to give a
    <%= f.select(:tip_percentage, [15, 20, 25], {}) %> % tip, and
  I'll be splitting it with 
    <%= f.number_field :number_splitting %>
  other people.
  </br>

  The friend I'd like to charge can be found through zer phone number: <%= f.text_field :phone_number_charged %>.
  </br>
  Please keep this transaction <%= f.select(:audience, ["private", "public"]) %>.

  <div class="actions">
    <%= f.submit "Charge my friends!"%>
  </div>
<% end %>